html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}
main {
    flex-grow: 1;
}

header, main, footer {
    flex-shrink: 0;
}

header {
    display: flex;
    flex-direction: row;
}
footer {
    justify-content: center;
    background-color: rgb(66, 66, 66);
    padding-inline: 2em;
}

.light-mode footer {
    background-color: #c2c2c2;
}

#purple-space {
    display: flex;
    flex-direction: column;
    background-color: #5350a0;
    align-items: center;
    padding-inline: 5em; 
    padding: 2em
}

#purple-space h1 {
    margin: 0.8em;
}

#purple-space img {
    width: 12em;
    border-radius: 6em;
}

#purple-space i {
    font-size: 2em;
    color:white;
}

#article-1 {
    padding-inline: 2em;
}

ul {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    display: inline;
    margin: 1.5em;
}



.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffa551;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }